# App Config
APP_PORT=8090
APP_NAME=go-proj

# JWT Config
JWT_SECRET=secret
JWT_EXPIRE=60 # Minutes
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH=30 # Days

# Nginx Config
NGINX_NAME=go-proj-nginx

# PostgreSQL
POSTGRES_NAME=go-proj-postgres
POSTGRES_HOST=go-proj-postgres
POSTGRES_DB=project
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
POSTGRES_DATA=./postgresql/data/

# PostgreSQL Test
POSTGRES_TEST_NAME=go-proj-postgres-test
POSTGRES_TEST_HOST=go-proj-postgres-test
POSTGRES_TEST_DB=project_test
POSTGRES_TEST_USER=root
POSTGRES_TEST_PASSWORD=root
POSTGRES_TEST_PORT=5432
POSTGRES_TEST_DATA=./postgresql-test/data/

# Redis
REDIS_NAME=go-proj-redis
REDIS_PORT=6379
